<article class="row backout">
	<div class="col-md-3 col-lg-3 col-xs-3">
		<div class="back">
			<div class="back-link" ng-if="checkPath()">
				<a href="/" class="back-link__item"></a>
				<img class="back-img" src="/images/back.png">
			</div>
		</div>
	</div>
	<div class="col-md-3 col-lg-3 col-xs-3 col-md-offset-3  col-xs-offset-3">
		<div class="logout-link" ng-click='out()'>
			<img src="images/exit.png" alt="exit">
			<div class="logout-text">
				<span>Выйти</span>
			</div>
		</div>
	</div>	
</article>