.test {
	border: 3px solid red;
}

.backout {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.back-link {
	display: inline;
	cursor: pointer;
	position: relative;
}

.back-img {
	height: 13px;
}

.back-link__item {
	position: absolute;
    left: 0;
    top: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.logout-link {
	float: right;
	cursor: pointer;
	display: flex;
	width: 77px;
}

.logout-text {
	margin-left: 13px;
	font-size: 16px;
  	font-weight: 400;
  	color: #fff;
}