.back-out {
	position: absolute;
	top: 5%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	width: 950px;
}

.logout {
	position: absolute;
	right: 0;
	cursor: pointer;
	display: flex;
	box-sizing: border-box;
	height: 18px;
}

.logout-text {
	display: flex;
	align-items: center;
	margin-left: 13px;
}

.logout-text-exit {
  	font-size: 16px;
  	font-weight: 400;
  	color: #ffffff;
}

.back {
	cursor: pointer;
}

.back-img {
	height: 13px;
}

.back-link {
	position: absolute;
    left: 0;
    top: 0;
	display: block;
	width: 100%;
	height: 100%;
}
