.calendar {
	max-height: 700px;
	opacity: 0.95;
	border-radius: 2px;
	background-color: #fff;
	padding-top: 56px;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calenadr-caption {
	text-align: center;
	font-size: 21px;
	font-weight: 400;
	color: #000;
}

.switch-bar {
	width: 194px;
	margin-top: 58px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.previous-month,
 .next-month {
	cursor: pointer;
	width: 7px;
	height: 12px;
}

.data-info {
	font-size: 16px;
	font-weight: 400;
	color: #335588;
}

.calendar-panel {
	margin-top: 27px;
}

.week-panel {
	width: 924px;
  	background-color: #9fb3d1;
}

.week {
	padding: 0;
	margin: 0;
	display: flex;
}

.weekday {
	list-style-type: none;
	padding: 10px 105px 10px 10px;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
}

.month-panel {
	width: 924px;
}

.month {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.month-item {
	padding: 0 6px;
	list-style-type: none;
	width: 132px;
	height: 120px;
	border: solid 1px #d0d0d0;
}

.month-item.mute {
	background-color: #dadfe6;
}

.day-num {
	display: block;
	text-align: right;
}

.day-num.notactive {
	display: none;
}

.month-item-info {
	padding: 0 5px;
}

.day-todo {
	height: 22px;
	border-radius: 3px;
	background-color: #dadfe6;
}

.day-todo.mute {
	background: #aaa;
}

.day-todo-item {
	cursor: pointer;
	padding: 0 5px;
	font-size: 11px;
	font-weight: 400;
	color: #000;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.day-todo.active {
	background-color: #7989b4;
	color: #fff;
}

.day-todo:not(:first-child) {
	margin-top: 6px;
}

.todo-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.todo-time {
}

.show-more {
	padding: 5px 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	margin-top: 6px;
	border-radius: 3px;
	border: solid 1px #979797;
	font-size: 11px;
	font-weight: 400;
	color: #000;
}

.show-more-img {
	width: 8px;
	height: 8px;
}

.full-info {
	position: absolute;
	top: 100%;
	left: 0;
	padding: 21px 42px 26px 24px;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.full-title {
	font-size: 16px;
	font-weight: 400;
	color: #333;
}

.full-time {
	margin-top: 11px;
	font-size: 11px;
	font-weight: 400;
	color: #415b8d;
}

.change-time {
	margin-top: 18px;
	display: flex;
	align-items: center;
}

.change-time-item {
	text-align: center;
	width: 42px;
	height: 32px;
	border-radius: 2px;
	border: solid 1px #a3b1cd;
	font-size: 13px;
	font-weight: 400;
	color: #566495;
}

.colon {
	margin-left: 7px;
	font-size: 13px;
	font-weight: 400;
	color: #566495;
}

.change-time-item:not(:first-child) {
	margin-left: 7px;
}

.save-time {
	margin-top: 23px;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	border: solid 1px #979797;
	background: #fff; 
	font-size: 11px;
	font-weight: 400;
	color: #000;
}

.save-time:hover {
    background-color: #7a7db2;
}

.save-time:active {
    background-color: #787a9e;
}

.num-month {
	position: absolute;
	font-size: 1px;
}
