.auth-window {
	font-family: 'Nova Mono';
	position: absolute;
	left: 50%;
	top: 25%;
	width: 502px;
  	height: 378px;
  	opacity: 0.95;
  	border-radius: 2px;
  	background-color: #ffffff;
  	padding: 60px 90px;
  	box-sizing: border-box;
}

.auth-caption {
	width: 100%;
	position: relative;
	text-align: center;
}
.auth-caption__text {
	font-size: 21px;
	font-weight: 400;
	color: #000000;
}

.auth-form {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.inp-login,
.inp-passwd {
	box-sizing: border-box;
	padding-left: 4px;
    width: 322px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #a3b1cd;
    font-family: ProximaNova;
    font-size: 16px;
    font-weight: 400;
    color: #566495;
}

.inp-passwd {
	margin-top: 11px;
}

.inp-enter {
	margin-top: 40px;
	width: 322px;
    height: 40px;
    border-radius: 2px;
    background-color: #696c9b;
  	font-size: 16px;
  	font-weight: 400;
  	color: #ffffff;
  	border: none;
}