.enter {
    cursor: pointer;
    width: 236px;
    height: 60px;
    background-color: #ffffff;
}

.enter a {
    font-size: 21px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}