.enter {
	margin-top: 350px;
	width: 100%;
    box-sizing: border-box;
    border: none;
    height: 60px;
    background-color: #fff;
}

.enter a {
    font-size: 21px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}
