/** Components **/
@import './components/sign.css';
@import './components/welcome-page.css';
@import './components/navigation.css';
@import './components/header.css';
@import './components/profile.css';
@import './components/main-calendar.css';

html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #aaa;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 100%;
    background-image: linear-gradient(234deg, #194b7f, #b88cb7);
}
