<article class="profile">
	<section class="user-info">
		<div class="user-info__header">
			<span>Настройки профиля</span>
		</div>
		<div class="profile-avatar">
			<img ng-src={{icon}} alt="user avatar" class="avatar-img">
			<button class="avatar-load" ng-click="">Загрузить</button>
		</div>
		<div class="personal-info">
			<input type="text" class="user-name" placeholder="Введите имя" ng-model="user.name">
			<div class="date-settings">
				<input type="text" class="user-birthday" placeholder="Введите дату рождения" ng-model="user.birthday">
				<img src="./images/little-calendar.png" class="calendaer-icon" alt="calendar">
			</div>
		</div>
		<button class="save-info" ng-click="saveDate()">Сохранить</button>
	</section>
	<section class="user-sessions">
			<div class="user-sessions__header">
				<span>Ваши сессии</span>
			</div>
			<div class="user-sessions__item" ng-repeat="session in sessions">
				<span class="sessions-text">{{getSessionsInfo(session)}}</span>
				<span class="sessions-status">Активна</span>
			</div>
	</section>
</article>